
:root {
    --typeSpeed: 2s
}

.proj-header {
    display: grid;
    place-content: center;
}

.typeWriter {
    margin-top: 20px;
    font-family: 'Source Code Pro', monospace;
    position: relative;
}

.typeWriter::before,
.typeWriter::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.typeWriter::before {
    background: rgb(255, 255, 255);
    animation:
        typewriter var(--typeSpeed) steps(24) forwards;
}

.typeWriter::after {
    width: .105em;
    height: 1.05em;
    background: black;
    animation:
    typewriter var(--typeSpeed) steps(24) forwards,
    blinking 1000ms steps(24) infinite;
    animation-delay: 0s ,2100ms;

}

@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blinking {
    to{
        background: white;
    }
}
